<div  *ngIf="secquestatus" class="jumbotron jumbotron-fluid shadow rounded-sm bg-light pt-3" style="width:100%;">
    <div>
        <p id="headinglabel">Security Question</p>
    </div>
    <form #ref="ngForm" (ngSubmit)="submitsecques1(ref.value);ref.reset()">
                <div class="form-group">  
                    <div class="selectWrapper bg-light">
                        <select name="secques" [(ngModel)]="secques">
                            <option>What is your favourite Sport?</option>
                            <option>What is your Native Place?</option>
                            <option>What is your favourite flower?</option>
                        </select>
                    </div> 
                    </div>
                <div class="form-group">      
                    <input class="inputMaterial bg-light" type="text" name="secans" required ngModel>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="label">Answer</label>
                  </div>
        <button id="buttonsubmit" type="submit">Submit Answer</button>
      </form>
</div>
<div  *ngIf="secquestatusverify" class="jumbotron jumbotron-fluid shadow rounded-sm bg-light pt-3" style="width:100%;">
    <div>
        <p id="headinglabel">Answer Security Question!</p>
    </div>
    <form #ref="ngForm" (ngSubmit)="submitsecques2(ref.value);">
                <div class="form-group">  
                    <input class="inputMaterial bg-light" [disabled]="true" type="text" name="secques" required value="{{secques}}">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="labeltop">Question</label>
                  </div>
                <div class="form-group">      
                    <input class="inputMaterial bg-light" type="text" name="secans" required ngModel>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="label">Answer</label>
                  </div>
        <button id="buttonsubmit" type="submit">Verify Answer</button>
      </form>
</div>
<div  *ngIf="changepasswordstatus" class="jumbotron jumbotron-fluid shadow rounded-sm bg-light pt-3" style="width:100%;">
    <div>
        <p id="headinglabel">Change Password</p>
    </div>
    <form #ref="ngForm" (ngSubmit)="submitcp(ref.value);ref.reset()">
                    <div class="form-group">      
                        <input class="inputMaterial bg-light" type="password" name="password" required ngModel>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="label">Enter Password</label>
                    </div>
                    <div class="form-group">      
                        <input class="inputMaterial bg-light" type="password" name="repassword" required ngModel>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="label">Renter Password</label>
                    </div>
        <button id="buttonsubmit" type="submit">Change Password</button>
      </form>
</div>
