@import url('https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css');
.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link.active {
    background: none;
    color: #6d7fcc;
    border-color: #6d7fcc;
  }
  .nav-pills .nav-link {
    color: #999;
  }

  
button{
  background: rgb(148, 163, 223);
  border:0;
  color: rgb(255, 255, 255);
  padding:10px;
  font-size: 16px;
  font-weight: 300;
  width:330px;
  margin-left: 40px;
  display:block;
  cursor:pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
  outline: none;
}

button:active{
  background: #6d7fcc;
  outline: none;
}

button:hover{
  background: #6d7fcc;
  color: #FFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#headinglabel
{
margin-left:60px;
font-size: 7mm;
font-weight: 350;
font-family: "Roboto";
color: #6d7fcc;
width: 100%;
}
.label1
{
margin-left:40px;
font-size: 5mm;
font-weight: 350;
font-family: "Roboto";
color: #6d7fcc;
width: 100%;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  
  background: rgb(148, 163, 223);
  border:0;
  color: rgb(255, 255, 255);
  padding:10px;
  font-size: 16px;
  font-weight: 300;
  width:150px;
  margin-left: 40px;
  cursor:pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
  outline: none;
  display: inline-block;

}
hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}