<div class="pt-5 bg-light rounded shadow">
  <div  style="text-align: center;">
      <p id="headinglabel">Issue Details</p> 
    </div>
  <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
    <li class="nav-item flex-sm-fill">
      <a id="edit-tab" data-toggle="tab" data-target="#edit" role="tab" aria-controls="edit" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active">Book Issue details</a>
    </li>
    <li class="nav-item flex-sm-fill">
      <a id="del-tab" data-toggle="tab" data-target="#del" role="tab" aria-controls="del" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0">Project Issue details</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
  <div id="edit" role="tabpanel" aria-labelledby="edit-tab" class="tab-pane fade show active">
    <div class="card rounded shadow border-0 bg-light">
      <div class="card-body rounded  bg-white">
          <div class="table-responsive">
            <table id="userbissueexample" style="width:100%" class="table table-striped table-bordered" *ngIf="this.viewusertemp1">
              <thead>
                <tr>
                  <th>Book No</th>
                  <th>Book Id</th>
                  <th>Book Name</th>
                  <th>Author</th>
                  <th>Issue Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of this.userbissueObj">
                  <td>{{obj.ISBNnumber}}</td>
                  <td>{{obj.bid}}</td>
                  <td>{{obj.bookname}}</td>
                  <td>{{obj.Author}}</td>
                  <td>{{obj.dateofissue}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>


</div>
  <div id="del" role="tabpanel" aria-labelledby="del-tab" class="tab-pane fade">
    <div class="card rounded shadow border-0 bg-light">
      <div class="card-body rounded  bg-white">
          <div class="table-responsive">
            <table id="userpissueexample" style="width:100%" class="table table-striped table-bordered" *ngIf="this.viewusertemp2">
              <thead>
                <tr>
                  <th>Project Id</th>
                  <th>Project Title</th>
                  <th>Batch/Year</th>
                  <th>Category</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of this.userpissueObj">
                  <td>{{obj.projid}}</td>
                  <td>{{obj.title}}</td>
                  <td>{{obj.batch}}</td>
                  <td>{{obj.category}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>


  </div>
</div>
</div>