@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
#headinglabel
{
  margin:40px;
  font-size: 10mm;
  font-weight: 350;
  font-family: "Roboto";
  color: #6d7fcc;
  width: 100%;
}
      #buttonsubmit{
        background: rgb(148, 163, 223);
        border:0;
        color: rgb(255, 255, 255);
        padding:10px;
        font-size: 16px;
        font-weight: 300;
        width:330px;
        margin-left: 60px;
        display:block;
        cursor:pointer;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        border-radius: 2px;
        outline: none;
    }
    
    #buttonsubmit:active{
        background: #6d7fcc;
        outline: none;
    }
    
    #buttonsubmit:hover{
        background: #6d7fcc;
        color: #FFF;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }
    