<div class="jumbotron jumbotron-fluid shadow rounded-sm bg-light pt-3" style="width:100%;" *ngIf="!changepasswordstatus">
    <div>
        <p id="headinglabel">Answer Security key!</p>
    </div>
    <form #ref="ngForm" (ngSubmit)="submitForm(ref.value);ref.reset()">
        <div class="form-group">      
            <input class="inputMaterial bg-light" type="text" name="securitykey" required  ngModel>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label1">security Key</label>
          </div>
              
    <button id="buttonsubmit" type="submit">Verify Security key</button>
    </form>
</div>

<div class="jumbotron jumbotron-fluid shadow rounded-sm bg-light pt-3" style="width:100%;" *ngIf="changepasswordstatus">
    <div>
        <p id="headinglabel2">Do you wish to change Admin User name?</p>
    </div>
    <form #r="ngForm" (ngSubmit)="sub(r.value);r.reset()" >
        <div class="form-group">      
            <input class="inputMaterial bg-light" type="text" name="changedusername" placeholder="{{username}}" ngModel >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label1">change username</label>
        </div>
        <button id="buttonsubmit" type="submit">update changes</button>
    </form>
</div>
<div class="jumbotron jumbotron-fluid shadow rounded-sm bg-light pt-3" style="width:100%;" *ngIf="changepasswordstatus">
    <div>
        <p id="headinglabel2">Do you wish to change Password?</p>
    </div>
    <form #re="ngForm" (ngSubmit)="submit(re.value);re.reset()" >
        <div class="form-group">      
        <input class="inputMaterial bg-light" type="text" name="password" required  ngModel>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="label1">Enter changed password</label>
        </div>
        
        <div class="form-group">      
        <input class="inputMaterial bg-light" type="text" name="reenteredpassword" required ngModel>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="label1">Reenter password</label>
        </div>       
        <button id="buttonsubmit" type="submit">update changes</button>
        </form>
</div>
