    <div class="py-0">    
    <div class="row">
      <div class="col-lg-6 mb-3 ">
        <div class="row">
          <div class="col-lg-12 mb-3 "  [routerLink]="['../books/addbooks']">
              <div class="hover hover-4 text-white rounded"><img src="https://5.imimg.com/data5/CE/CA/YX/SELLER-2465334/plain-color-sheets-500x500.jpeg" alt="">
                  <div class="hover-overlay"></div>
                  <div class="hover-4-content">
                    <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Add </span>Books + </h3>
                    <p class="hover-4-description text-uppercase mb-0 small">Do You whish to add any book?<br>Click to Add Books!</p>
                  </div>
              </div>
            </div>
            </div>
              <div class="row">
                  <div class="col-lg-5 mb-3 " [routerLink]="['../circulation/issue']">
                      <div class="hover hover-2 text-white rounded"><img src="https://mcdn.wallpapersafari.com/medium/20/78/a7MHeW.jpg" alt="">
                        <div class="hover-overlay"></div>
                        <div class="hover-2-content px-5 py-4">
                          <h3 class="hover-2-title text-light font-weight-bold mb-0"> <span class="font-weight-light">Isuue </span>Books </h3>
                          <p class="hover-2-description text-light mb-0"> -> </p>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-7 mb-3 " [routerLink]="['../books/bookslist']">
                      <div class="hover hover-5 text-white rounded"><img src="https://mcdn.wallpapersafari.com/medium/94/37/dzfUFm.jpg" alt="">
                          <div class="hover-overlay"></div>
                          <div class="hover-5-content">
                            <h3 class="hover-5-title font-weight-light mb-0">Books Details <strong class="font-weight-bold text-white">?</strong><br><span>Know here!</span></h3>
                          </div>
                        </div>
                  </div>
              </div>
      </div>
          <div class="col-lg-6 ">
              <div class="row">
                  <div class="col-lg-6 mb-3 " [routerLink]="['../users/viewusers']">
                      <div class="hover hover-2 text-white rounded"><img src="https://mcdn.wallpapersafari.com/medium/66/41/NRq975.jpg" alt="">
                        <div class="hover-overlay"></div>
                        <div class="hover-2-content px-5 py-4">
                          <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Know </span>Users</h3>
                          <p class="hover-2-description text-light mb-0"> View Details of Users ?</p>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-6 mb-3 " [routerLink]="['../notifydelays']">
                      <div class="hover hover-3 text-white rounded"><img src="https://mcdn.wallpapersafari.com/medium/49/55/IQW6cy.jpg" alt="">
                          <div class="hover-overlay"></div>
                          <div class="hover-3-content px-5 py-4">
                            <h3 class="hover-3-title text-uppercase font-weight-bold mb-3"><span class="font-weight-light"></span>Delays!</h3>
                            <p class="hover-3-description small text-uppercase mb-0"><span class="font-weight-bold mb-3" style="font-size: 20px;"></span><br>Know Details.</p>
                          </div>
                        </div>
                  </div>

              </div>
              <div class="row">
                  <div class="col-lg-10 mb-3 " [routerLink]="['../circulation/issuedetails']">
                      <div class="hover hover-2 text-white rounded"><img src="https://mcdn.wallpapersafari.com/medium/13/88/N2sgIJ.jpg" alt="">
                        <div class="hover-overlay"></div>
                        <div class="hover-2-content px-5 py-4">
                          <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light"></span>Book-Issue Details!</h3>
                          <p class="hover-2-description text-light mb-0">  Click here to Know issue details</p>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

            
  </div>

  <div class="row">
      <div class="col-lg-5 mb-3 " [routerLink]="['../profile/changepassword']">
          <div class="hover hover-4 text-white rounded"><img src="https://mcdn.wallpapersafari.com/medium/46/0/8vb1VG.jpg" alt="" >
              <div class="hover-overlay"></div>
              <div class="hover-4-content">
                <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"></span> Admin Panel</h3>
                <p class="hover-4-description mb-0 small">Click to know more about Admin <br> here we can find the profile of admin</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4 mb-3 " [routerLink]="['../users/adduser']">
          <div class="hover hover-4 text-white rounded"><img src="https://mcdn.wallpapersafari.com/medium/87/4/qGxC8n.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-4-content">
                <h3 class="hover-4-title font-weight-bold mb-0"><span class="font-weight-light"></span>Add User</h3>
                <p class="hover-4-description mb-0 small"  style="font-size: 18px;">You Add users using here</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 mb-3 " [routerLink]="['../projects/projectlist']">
        <div class="hover hover-5 text-white rounded"><img src="https://mcdn.wallpapersafari.com/medium/97/30/Jh5Gjs.jpg" alt="">
            <div class="hover-overlay"></div>
            <div class="hover-5-content">
              <h3 class="hover-5-title font-weight-light mb-0"><strong class="font-weight-bold text-white">Projects !</strong><br><span>Know Details!</span></h3>
            </div>
          </div>
    </div>
  </div>
  </div>
  